<template name="footer">
<footer class="footer-distributed">

    <div class="footer-left">

        <p class="footer-links">
            <a href="Active">Home</a>
            -
            <a target="_blank" href="https://www.facebook.com/ioskhmertutorials">Facebook Page</a>
            -
            <a target="_blank" href="https://www.facebook.com/reachseyun069">Facebook Profile</a>
            -
            <a target="_blank" href="https://www.youtube.com/channel/UCNs2ivOj1nWo_258tAb7hmQ">Youtube Channel</a>
        </p>

        <p class="footer-company-name">Reachsey &copy; 2016</p>

    </div>

    <div class="footer-right">

        <form method="get" action="">
            <input placeholder="Search our website" name="search" />
            <i class="fa fa-search"></i>
        </form>

    </div>

</footer>


</template>
