<!--<head>-->
    <!--<link rel="icon" href="logo.ico">-->
    <!--<title>My Project</title>-->
<!--</head>-->

<!--<body style="margin-top: 70px">-->


<!--<div class="container">-->
    <!--{{> navbar}}-->
    <!--<div class="starter-template">-->
        <!--{{> Template.dynamic template=content}}-->
    <!--</div>-->
    <!--{{>footer}}-->
<!--</div>&lt;!&ndash; /.container &ndash;&gt;-->

<!--</body>-->

<!--<template name="navbar">-->
    <!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
        <!--<div class="container">-->
            <!--<div class="navbar-header">-->
                <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"-->
                        <!--aria-expanded="false" aria-controls="navbar">-->
                    <!--<span class="sr-only">Toggle navigation</span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                <!--</button>-->
                <!--<a class="navbar-brand" href="active"><img src="/lion.png"></a>-->
                <!--<a class="navbar-brand" href="active" >Reachsey</a>-->
            <!--</div>-->
            <!--<div id="navbar" class="collapse navbar-collapse">-->
                <!--<ul class="nav navbar-nav">-->
                    <!--<li class="active"><a href="#">Home</a></li>-->
                    <!--<li><a href="#about">About</a></li>-->
                    <!--<li><a href="#about">About</a></li>-->
                    <!--<li><a href="#contact">Contact</a></li>-->
                <!--</ul>-->
            <!--</div>&lt;!&ndash;/.nav-collapse &ndash;&gt;-->
        <!--</div>-->
    <!--</nav>-->
<!--</template>-->